<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Charles HETIER</title>
    <link rel="stylesheet" href="{{'css/style.css' | relative_url }}">

    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>

<body>
    <aside>
        <h1>
            Charles HETIER
        </h1>
        <nav>
            <ul>
                <li><a href="#">About me</a></li>
                <li><a href="#">Gallery</a></li>
                <li class="selected"><a href="/">Blog</a></li>
            </ul>
        </nav>
        <div class="quotation"></div>
    </aside>
    <section id="content">
        {{ content }}
    </section>
</body>

</html>